<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask application</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h3 class="text-muted">Home Page</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Flask Application</h1>
            <p class="lead"></p>
            </p>
        </div>
 	<div id="message" style="margin-bottom:30px;"></div>
        <div>
		<input id="ip_address" placeholder="IP Address" class="form-control"/><br/>
		<input id="subnet" placeholder="Subnet Mask" class="form-control"/><br/>
		<button id="submit" class="btn btn-primary">Validate IP Address and Subnet Mask</button>
        </div>
	<div style="margin-top:30px;">
		<textarea id = "log" placeholder="Log Input" class="form-control" rows="10"></textarea><br/>
		<button id="submit_logs" class="btn btn-primary">Valid log results</button>
		<div id="log_message" style="white-space:pre;margin-top:30px;"></div>
	</div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
	$("#submit").click(function(){
		var ip = $("#ip_address").val();
		var subnet = $("#subnet").val();
		if(typeof ip == "undefined" || ip.length==0){
			$("#message").html("Invalid IP Address");
			return;
		}
		if(typeof subnet=="undefined" || subnet.length==0){
			$("#message").html("Invalid Subnet");
			return;
		}
		$.get("/process", {"ip": ip, "subnet": subnet}).then(function(res){
			res = JSON.parse(res);
			if(res.success){
				$("#message").text("Network Block: " + res.network_block + "\nHost ID: "+ res.host_id);
			}
			else{
				$("#message").html("Something went wrong with input, please enter the correct values");
			}
		});
	});
	$("#submit_logs").click(function(){
                var logs = $("#log").val();
		if(typeof logs=="undefined" || logs.length==0){
			$("#log_message").html("Invalid Log Input");
			return;
		}
		$.get("/logs", {"log": logs}).then(function(res){
			res = JSON.parse(res);
			if(res.success){
				$("#log_message").text("Valid Logs:\n " + res.valid_logs);
			}
			else{
				$("#log_message").html("Something went wrong with input");
			}
		});
	});
});
</script>
</body>
 
</html>
